.form_styler {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
  border-radius: 3px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.header_styles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}